@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply border-naranja-400
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E6F3FB;
    opacity: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:hover{
    background: #CEE7F6;
    opacity: 10px;
    border-radius: 10px;
    }